  .head{
    height: 60px;
    background-color: #F67280;
    color:white;
    justify-content: space-between;
    /* font-weight: bold;
    font-size: xx-large;
    text-align: left; */
    /* padding-top: 10px; */
  }
  .offcanvas-body{
    text-align: right;
  }
  .navbar-Brand{


  }
  
  
  .navbar-nav a {
    color: #0a0303;
    margin: 0 10px; 
    text-decoration: none; 
    font-weight: bold;
  }
  

  .navbar-nav a:hover {
    color: palevioletred; 
  }
  
  .nav-con{
    display: flex;
    justify-content: space-between;
    height: 60px;
    font-weight: bold;
    font-size: xx-large;
    padding: 5px;
  }
  a{
    color: white;
    text-decoration: none;
  }
  .offcanvas-body{
    text-align: center;
  }
  .Root {
    
  }

  @media screen and (max-width : "360px") {
    .nav-con{
      flex-direction: column;
    }
  }